extends layout
block head
  link(rel="stylesheet", href="/stylesheets/index.css")

block content
  h1= title
  //- p data:#{data[0]._id}
  table 
    tr
      th 회원명
      th 회원ID
      th 회원PW
      th 연락처
      th 이메일
    for fruit in data 
      tr
        td #{fruit._name}
        td #{fruit._id}
        td #{fruit._password}
        td #{fruit._hp}
        td #{fruit._email}
      <br>